<template name="navbar">
	<header class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">BookAday</a>
			<ul class="nav navbar-nav ">
				
				{{> pocketStatus}}
				{{#if currentUser}}
					<span class="navbar-text">Signed in as {{loginButtons}} </span>
				{{else}}
					{{loginButtons}}
				{{/if}}	
			</ul>
		</div>
	</header>
</template>

<template name="pocketStatus">
	{{#if currentUser}} 
	  {{#if pocketAuthorized}}
		<button type="button" class="btn btn-success btn-xs" id="disconnectPocket">Connected</button>
	  {{else}}
		<button type="button" class="btn btn-danger btn-xs" id="connectToPocket" > Connect </button>
	  {{/if}}
	{{/if}}	
</template>